<header>
	<h1>{{title}}</h1>
</header>

<div class="search-bar"></div>

<div class="results"></div>

<footer class="footer navbar navbar-default navbar-fixed-bottom">
	<a href='http://www.yummly.com/recipes/'>search powered by </a><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/>
</footer>